{% extends 'main/base.html' %}

{% block title %}File View{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div style="width:60%; margin:auto">
    <div><br>
        <div>
            <h4 class="card-subtitle mb-2 text-body-secondary" style="margin-left:13px">{{post.author}}</h4>
        </div>
        <div class="card" style="margin-top:15px">
            <div class="card-body">
              <h5 class="card-title" style="font-weight:bold">{{post.title}}</h5>
              <p class="fs-5">{{post.description}}</p>
              <p class="card-text" style="font-weight:lighter; color:dimgray">{{post.created_at}}</p>
            </div>
        </div>


    </div><br>
    <div>
        {% for file in files %}
            {% if file.post == post%}
                {% if file.gethtml == "image" %}
                    <img src="{{ file.file.url }}" style="max-width:100%"><br><br>
                {% elif file.gethtml == "video" %}
                    <video controls style="max-width:100%">
                        <source src="{{ file.file.url }}"><br><br>
                    </video>
                {% else %}
                    <a href="{{file.file.url}}">{{file.file.name}}</a><br><br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    
    <a href="{% url 'home' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="margin-left:13px; font-size:larger">Back</a>
    <br><br><br>
</div>
{% endblock %}