{% extends 'main/base.html'%}

{% block title %}Content{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div style="width:60%; margin:auto">
    <br>
    <h4>Subjects Left to Study</h4>
    <hr>
    
    {% for item in subjects_with_attempts %}
        {% if item.attemptsRem > 0 %}
            <p><a href="{% url 'take_subject_detail' item.subject.pk %}">{{item.subject.title}}</a>  Attempts Remaining: {{item.attemptsRem}}</p>
        {% else %}
            <p>{{item.subject.title}}  Attempts Remaining: {{item.attemptsRem}}</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}