{% extends 'main/base.html' %}

{% block title %}View Subject{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div style="width:50%; margin:auto">
    <br>
    <h4>Subjects Posted</h4>
    <hr><br>
    <ul style="width:80%; margin:auto">
        {% for subject in subjects %}
        <li style="font-size:15pt">{{subject.title}}<a href="{% url 'question_setup' subject.pk %}" style="float:right; text-decoration:none">Edit</a></li><hr>
        {% endfor %}
    </ul>
</div>
    
{% endblock %}