{% extends 'main/base.html'%}
{% block title %}Create Questions{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>

<div>
    <h4 style="margin:auto; text-align:center" class="display-5">{{question.text}}</h4><br><hr>

    <div style="float:left; width:40%; margin-left:5%">
        
        <br><br>
        <h4>Add Answers</h4>
        <hr><br>
    
        <form method='POST'>
            {% csrf_token %} 
            {{form|crispy}}

            <button type="sumbit" class="btn btn-outline-primary" name="submitform" >Submit</button>
        </form><br>
        <a href="{% url 'question_setup' question.quiz.pk %}">Back</a>
    </div>
</div>

<div style="float:right; width:45%; margin-top:20px; margin-right:3%"><br>
    <h5>Current Answers:</h5><br>
        <div style="margin-left:5%">
        {% for answer in answers%}
            {% if answer.is_correct %}
            <h5 style="color:green">{{answer.text}}</h5>
            {% else %}
            <h5 style="color:red">{{answer.text}}</h5>
            {% endif %}
            <br>
        {% empty %}
        <p>This question currently has no answers...</p>
        {% endfor %}
        </div>
{% endblock %}

