{% extends 'main/base.html'%}
{% block title %}Create Questions{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br><br>

    
    <div>
        <h4 style="width:50%; margin:auto; text-align:center" class="display-5">{{quiz.title}}</h4><br><hr>
        <div style="float:left; width:40%; margin-left:5%">
        
            <br><br>
            <h4>Add Questions</h4>
            <hr><br>
        
            <form method='POST'>
                {% csrf_token %} 
                {{form|crispy}}
    
                <button type="sumbit" class="btn btn-outline-primary" name="submitform" >Submit</button>
            </form><br>
            <a href="{% url 'view_quizzes' %}">Back</a>
        </div>
    
        <div style="float:right; width:45%; margin-top:20px; margin-right:3%"><br>
            <h5>Current Questions:</h5><br>
            {% for question in questions %}
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %} 
                        <button type="submit" value={{question.id}} name="question-id" class="btn btn-outline-danger"  style="float:right">Delete</button>
                    </form>
                    <p>{{ question.text }}</p>
                    
            
                    {% for answer in question.answers.all %}
                        {% if answer.is_correct %}
                        <p style="color:green">{{answer.text}}</p>
                        {% else %}
                        <p style="color:red">{{answer.text}}</p>
                        {% endif %}
                    {% endfor %}
        
                    <a href="{% url 'answer_setup' question.pk %}" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Add Answers</a><br>
                </div>
            </div><br>
            {% empty %}
            <p>This quiz currently has no questions...</p>
            {% endfor %}
            <br><br>
        </div>
    </div>
    
        
    
    
{% endblock %}